body {
  padding: 50px;
}

form {
    float: left;
}

.frit {
    vertical-align: middle;
    font-size: 24px;
    padding: 2px;
}

.frit-holder {
    padding: 5px;
}

.author {
    font-weight: bold;
}

.frit-footer {
    font-size: 15px;
    color: gray;
}

.controls {
    float: right;
}

.feed-controls {
    float: left;
}

.hidden {
    visibility: hidden;
}